<section class="todoapp">
    <header class="header">
        <h1>{{ appname }}</h1>
        <input class="new-todo" [placeholder]="inputhint" autofocus [(ngModel)]="item" (keyup.enter)="addItem()"/>
    </header>
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main">
        <input id="toggle-all" class="toggle-all"  type="checkbox" [(ngModel)]="checkall" (change)="markAll()"/>
        <label for="toggle-all">Mark all as complete</label>
        <ul class="todo-list">
            <!-- These are here just to show the structure of the list items -->
            <!-- List items should get the class `editing` when editing and `completed` when marked as completed -->

            <li *ngFor="let item of data" [class.completed]="item.isDone">
                <div class="view">
                    <!-- <input class="toggle" type="checkbox" [checked]="item.isDone" (change)="item.isDone=!item.isDone" /> -->
                    <input class="toggle" type="checkbox" [checked]="item.isDone" (change)="markDone(item.id)"/>
                    <label>{{ item.title }}</label>
                    <button class="destroy" (click)="removeItem(item.id)"></button>
                </div>
                <input class="edit" [value]="item.title" />
            </li>

        </ul>
    </section>
    <!-- This footer should hidden by default and shown when there are todos -->
    <footer class="footer">
        <!-- This should be `0 items left` by default -->
        <span class="todo-count">
            <strong>0</strong> item left</span>
        <!-- Remove this if you don't implement routing -->
        <ul class="filters">
            <li>
                <a class="selected" href="#/">All</a>
            </li>
            <li>
                <a href="#/active">Active</a>
            </li>
            <li>
                <a href="#/completed">Completed</a>
            </li>
        </ul>
        <!-- Hidden if no completed items are left ↓ -->
        <button class="clear-completed">Clear completed</button>
    </footer>
</section>
<app-footer-info></app-footer-info>
